.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2.4rem;
  padding-bottom: 17.5rem;
  ul li {
    position: relative;
    ul li {
      position: relative;
    }
  }
}
.header__left-content {
  display: flex;
  align-items: center;
  gap: 6rem;
}
.sitenav__list {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.sitenav__item ul {
  margin-top: 2rem;
  border-radius: 10px;
  background-color: $white-color;
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.15);
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
  padding-left: 2.6rem;
  padding-right: 2.6rem;
  position: absolute;
  display: none;
  flex-direction: column;
  gap: 1.6rem;
}
.sitenav__item ul li {
  display: flex;
  gap: 1.5rem;
}
.sitenav__item ul li a {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: $silver-color;
}
.sitenav__link {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: $silver-color;
  &:active {
    color: $black-two-color;
  }
}
.list1 {
  right: 0.5rem;
}
.list2 {
  width: 12rem;
}
.sitenav__item:hover {
  ul {
    display: flex;
  }
}
@media screen and (max-width: 500px) {
  .header__container {
    padding-bottom: 2.4rem;
  }
}
.header__btn__icon {
  border: none;
  background-color: transparent;
  font-size: 3rem;
  display: none;
}

@media screen and (max-width: 725px) {
  .header__btn__icon {
    display: block;
  }
  .sitenav {
    display: none;
  }
  .header__right-content {
    display: none;
  }
  .header__left-content {
    justify-content: space-between;
  }
}
